.homepage {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 30px;
    background-color: #f8f9fa;
    height: 100vh;
  }
  
  .homepage img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .right-description {
    max-width: 500px;
    text-align: left;
    color: #333;
    display: flex; 
    flex-direction: column;
    justify-content: center;
  }
  
  .right-description h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: #007bff;
  }
  
  .right-description p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #555;
  }

  
  .user-button{
    background-color: #8b0cfa; 
    color: white; 
    padding: 12px;
    border-radius: 12px;
    align-self: center;
    border-color: white;
  }

  .user-button:hover{
    cursor: pointer;
  }

